text
install
url --url=http://192.168.1.3/repo/rhel6-x86_64/disc1
lang en_US.UTF-8
keyboard us
network --device eth0 --bootproto dhcp
rootpw  --iscrypted $6$VFjT1z9ta1HqsMbF$QUxiFloguJcgvvLvkT8l4eSM8YPs.qSHwpAQfFa/2tp8FY/HtiSP/Lr.8bGhjCMqUQzM4wUm3wpBhQmmGN02W0
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
selinux --disabled
timezone --utc America/New_York
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

zerombr yes
clearpart --all
part /boot --fstype ext4 --size=200 
part pv.2 --size=1 --grow 
volgroup vg_root --pesize=32768 pv.2
logvol swap --fstype swap --vgname=vg_root --size=512 --name=lv_swap 
logvol / --fstype ext4 --vgname=vg_root --size=1024 --name=lv_root --grow 
reboot

repo --name="Red Hat Enterprise Linux"  --baseurl=http://192.168.1.3/repo/rhel6-x86_64/disc1/ --cost=100

%packages --nobase
authconfig
crontabs
kbd
openssh-clients
openssh-server
passwd
rootfiles
rpm
yum
vim-minimal
vixie-cron
which
sudo
vim
git
wget
bind-utils
ntpdate
%post
(

#patch 
yum -y update

)  2>&1 | tee /root/post-install.log
